img  {
	width: 460px;
	height: 260px;
    margin-top: 10px;
}
img:hover{
	width: 480px;
	height: 280px;
	margin: 7px;
}


h1 {
	font-size:: 3em;
	font-family: initial;
	text-align: center;
	box-shadow: 2px 3px 5px;
	background-color: grey;
	text-shadow: 0px 0px 10px white;
}


p{
	text-align: right;
	font-size: 25px;
	text-transform: uppercase;
	text-shadow: 0px 0px 7px black;
}

body
{
	background: linear-gradient(to right, rgb(110, 94, 130), rgb(177, 93, 93));;
	background-position: cover;
	margin: 0px ;
}
div{
	margin-top: 10em;
	margin-left: 2em;
}